<mat-stepper #stepper [formGroup]="patentFormGroup">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel></ng-template>
      <section class="grid-container">
        <div class="column-left">
          <div class="identifier-container">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'IDENTIFICADORES' | translate }}</mat-label>
              <button mat-icon-button matPrefix (click)="addIdentifier()">
                <mat-icon>add</mat-icon>
              </button>
              <input  matInput
                      formControlName="identifier"
                      required>
            </mat-form-field>
          </div>
          <div class="title-container">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'TITULO' | translate }}</mat-label>
              <input  matInput
                      formControlName="title"
                      required>
            </mat-form-field>
          </div>
          <div class="country-container">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'PAIS' | translate }}</mat-label>
              <input  matInput
                      formControlName="country">
            </mat-form-field>
          </div>

          <div class="drawing-container">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'DIBUJO' | translate }}</mat-label>
              <button mat-icon-button matPrefix (click)="f_input1.click()">
                <mat-icon>attach_file</mat-icon>
              </button>
              <input type="text" readonly matInput [formControl]="drawing" />
              <input
                type="file"
                multiple
                hidden
                style="display: none"
                #f_input1
                (change)="handleFileInputChange1(f_input1.files)"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="column-right">
          <div class="language-container">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'IDIOMA_P' | translate }}</mat-label>
              <input  matInput
                      formControlName="language">
            </mat-form-field>
          </div>

          <div class="summary-container">
            <mat-form-field class="form-field-resumen" appearance="outline">
              <mat-label>{{ 'RESUMEN' | translate }}</mat-label>
              <input  matInput
                      formControlName="summary"
                      required>
            </mat-form-field>
          </div>
        </div>

        <div class="button-container">
          <button class="button-last" mat-button color="primary" matStepperNext (click)="saveFirstForm()">{{ 'SIGUIENTE' | translate }}</button>
        </div>

      </section>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <section class="grid-container">
        <div class="column-left">

          <div class="claims-container">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'REIVINDICACIONES' | translate }}</mat-label>
              <button mat-icon-button matPrefix (click)="f_inputR.click()">
                <mat-icon>attach_file</mat-icon>
              </button>
              <input type="text" readonly matInput [formControl]="claims" />
              <input
                type="file"
                multiple
                hidden
                style="display: none"
                #f_inputR
                (change)="handleFileInputChangeR(f_inputR.files)"
              />
              <mat-error>this field is required</mat-error>
            </mat-form-field>
          </div>

          <div class="prior-art-container">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'TECNICA' | translate }}</mat-label>
              <button mat-icon-button matPrefix (click)="f_input.click()">
                <mat-icon>attach_file</mat-icon>
              </button>
              <input type="text" readonly matInput [formControl]="prior" />
              <input
                type="file"
                multiple
                hidden
                style="display: none"
                #f_input
                (change)="handleFileInputChange(f_input.files)"
              />
              <mat-error>this field is required</mat-error>
            </mat-form-field>
          </div>

        </div>

        <div class="second-stepper column-right">
          <div class="author-container">
            <button mat-button (click)="openModal()">{{ 'AGREGAR_A' | translate }}</button>
          </div>


          <div class="affiliations-container">
            <button mat-button (click)="openModal($event)">{{ 'AGREGAR_O' | translate }}</button>
          </div>
        </div>
      </section>
      <div class="button-container">
        <button mat-button matStepperPrevious color="primary">{{ 'ATRAS' | translate }}</button>
        <button mat-button matStepperNext color="primary" (click)="enviarFormulario()">{{ 'ENTREGAR' | translate }}</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>

<!-- <form [formGroup]="patentFormGroup">

  <section class="grid-container">

          <div class="column-left">

            <div class="identifier-container">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'IDENTIFICADORES' | translate }}</mat-label>
                <input  matInput
                        formControlName="identifier"
                        required>
              </mat-form-field>
            </div>

            <div class="title-container">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'TITULO' | translate }}</mat-label>
                <input  matInput
                        formControlName="title"
                        required>
              </mat-form-field>
            </div>

            <div class="author-container">
                <button mat-button color="primary" (click)="openModal()">{{ 'AGREGAR_A' | translate }}</button>
            </div>


            <div class="affiliations-container">
              <button mat-button color="primary" (click)="openModal($event)">{{ 'AGREGAR_O' | translate }}</button>
            </div>

            <div class="claims-container">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'REIVINDICACIONES' | translate }}</mat-label>
                <button mat-icon-button matPrefix (click)="f_inputR.click()">
                  <mat-icon>attach_file</mat-icon>
                </button>
                <input type="text" readonly matInput [formControl]="claims" />
                <input
                  type="file"
                  multiple
                  hidden
                  style="display: none"
                  #f_inputR
                  (change)="handleFileInputChangeR(f_inputR.files)"
                />
                <mat-error>this field is required</mat-error>
              </mat-form-field>
            </div>

          </div>

          <div class="column-right">

            <div class="prior-art-container">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'TECNICA' | translate }}</mat-label>
                <button mat-icon-button matPrefix (click)="f_input.click()">
                  <mat-icon>attach_file</mat-icon>
                </button>
                <input type="text" readonly matInput [formControl]="prior" />
                <input
                  type="file"
                  multiple
                  hidden
                  style="display: none"
                  #f_input
                  (change)="handleFileInputChange(f_input.files)"
                />
                <mat-error>this field is required</mat-error>
              </mat-form-field>
            </div>

            <div class="drawing-container">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'DIBUJO' | translate }}</mat-label>
                <button mat-icon-button matPrefix (click)="f_input1.click()">
                  <mat-icon>attach_file</mat-icon>
                </button>
                <input type="text" readonly matInput [formControl]="drawing" />
                <input
                  type="file"
                  multiple
                  hidden
                  style="display: none"
                  #f_input1
                  (change)="handleFileInputChange1(f_input1.files)"
                />
              </mat-form-field>
            </div>


            <div class="summary-container">
              <mat-form-field class="form-field-resumen" appearance="outline">
                <mat-label>{{ 'RESUMEN' | translate }}</mat-label>
                <input  matInput
                        formControlName="summary"
                        required>
              </mat-form-field>
            </div>

          </div>

  </section>

  <div class="button-container">
    <button mat-button color="primary" (click)="enviarFormulario()">{{ 'ENTREGAR' | translate }}</button>
  </div>

</form> -->


