mat-stepper{
  margin-top: 37px;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px 0 0 30px;
}


mat-form-field{
  width: 70%;
}

.form-field-resumen{
  height: 230px;
}


.column-right{

  div{

    mat-form-field{
      margin-left: 20%;
    }

  }
}

.third{
  .button{
    width: 70%;
    margin-top: 5%;

    button{
      width: 70%;
      background-color: #006128;
      color: white;
    }
    button:hover{
      background-color: #26915b;
    }
  }

  .author{
    button{
      margin-left: 10px;
    }
  }

  .affiliation{
    button{
      display: flex;
      justify-content: center;
    }

    margin-left: 5%;
  }

}


.button-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 20px;
}

.button-last{
  display: flex;
  justify-content: end;
}


.author-container, .affiliations-container{
  display: flex;
  justify-content: end;
  width: 100%;
  height: 80px;


}

.mat-mdc-button{
  font-weight: bold;
  text-transform: uppercase;
}

.file-name {
  margin-left: 1rem; /* or whatever margin you require */
}

@media(max-width: 800px){
  .grid-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    div{
      width: 90%;
    }
  }

  mat-form-field{
    width: 100%;
  }

  .column-right{

    div{

      mat-form-field{
        margin-left: 0;
      }

    }
  }
}
