<mat-card class="mat-elevation-z0" *ngIf="hitList && hitList.hits.length > 0; else templateNotInfo">


    <mat-card-content>
      <div *ngFor="let hit of hitList.hits; let pos = index" [ngStyle]="{'margin': '1em 8px'}">

        <!-- Titulo de la patente -->
        <h2>
          <!-- <span mat-icon-button *ngIf="hasPermission" routerLink="/{{hit.metadata.id}}/edit" matTooltip="Editar la Organización">
            <mat-icon class="mat-18">mode_edit</mat-icon>
          </span> -->
          <span [routerLink]="['/patent', hit.id]"
                style="cursor: pointer;">
            {{hit.title}}
          </span>
        </h2>

        <h4 class="p-40"
              *ngIf="hit.author"
              [routerLink]="['/profile/author', hit.author.id]"
              style="cursor: pointer;">
          Autor: {{hit.author}}
        </h4>

        <ul fxLayout="row wrap" *ngIf="hit.affiliations">
          <h4>Organizaciones:</h4>
          <li [routerLink]="['/profile/organization', hit.affiliation.id]" *ngFor="let affiliation of hit.affiliations; let i = index" class="li-margin-style">
            {{affiliation}}
            <!-- <ng-container *ngIf="i < hit.metadata.types.length - 1"> | </ng-container> -->
          </li>
        </ul>

        <section class="button-container">

          <div class="button-edit-container">
            <button mat-fab color="accent"  matTooltip="Editar" [routerLink]="['/patents/editar', hit.id]">
              <mat-icon>edit</mat-icon>
            </button>
          </div>

          <div class="button-delete-container">
            <button mat-fab color="warn"  matTooltip="Eliminar" (click)="eliminar(hit)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </section>
      </div>
    </mat-card-content>

</mat-card>

<ng-template #templateNotInfo>
  <mat-card>
    <mat-card-content>
      <h2>No hay resultados para su búsqueda...</h2>
    </mat-card-content>
  </mat-card>
</ng-template>
