
<!-- <form [formGroup]="formGroup" [ngStyle]="{'width': width}">

    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>{{ 'CORREO' | translate }}</mat-label>
        <input matInput placeholder="{{ 'ESCRIBA_CORREO' | translate }}" formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>{{ 'ASUNTO' | translate }}</mat-label>
        <input matInput placeholder="{{ 'ESCRIBA_ASUNTO' | translate }}" formControlName="topic">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>{{ 'CUERPO' | translate }}</mat-label>
        <textarea matInput placeholder="{{ 'ESCRIBA_CUERPO' | translate  }}" rows="{{ rows }}" formControlName="body"></textarea>
    </mat-form-field>


    <button mat-raised-button class="mt-1" style="color: white;" color="primary" (click)="send()">
        <mat-icon matPrefix>send</mat-icon>
        {{ 'ENVIAR' | translate }}
    </button>

</form> -->

<section>
  <h3>Información de Contactos:</h3>
  <p><br>Email: <a href="sceiba.cu@gmail.com">sceiba.cu@gmail.com</a></p>
  <p><br>Telefono: (+53) 48-75-04-16</p>
  <p><br>Direccion: Calle Martí #300 entre González Alcorta y 27 de noviembre. Pinar del Río. Código Postal: 20100. Pinar del Río, Cuba</p>
  <p><br>Sitio web: <a href="https://tocororo.upr.edu.cu">https://tocororo.upr.edu.cu</a></p>
</section>
